In [1]:
import pandas as pd

### Content

In [2]:
#Loading the dataset
df_content = pd.read_csv('Content.csv')

In [3]:
#view the first 10 rows
df_content.head(10)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
5,5,cf1e8c1a-23eb-4426-9f58-002fb1b53e91,4607d7b0-3313-49b8-9f73-5b8227fc5b67,GIF,cooking,NaN
6,6,3f8590c7-6ab2-4973-805a-90cdec355f05,ae600af5-c1f0-4b1f-adb0-1b4c246373e4,video,dogs,https://socialbuzz.cdn.com/content/storage/3f8...
7,7,e5490118-90d5-4572-ab1c-1fbc87b8d9ca,583f2bde-886d-4cf3-a5c4-7cb60cd25df3,video,technology,https://socialbuzz.cdn.com/content/storage/e54...
8,8,0bedca96-fb76-4287-a83c-17330ed39cce,2bd9c167-e06c-47c1-a978-3403d6724606,photo,soccer,https://socialbuzz.cdn.com/content/storage/0be...
9,9,b18cb63f-4c8e-44ee-a47f-541e95191d11,13f0db8a-152a-496f-a6e8-1ed6a90b8788,photo,public speaking,https://socialbuzz.cdn.com/content/storage/b18...

In [4]:
#check for missing values
df_content.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [5]:
#URL column has 199 NaN values
#We drop them
df_content=df_content.dropna()

In [6]:
df_content.shape

(801, 6)

In [7]:
#The URL column is irrelevant thus it can be dropped
df_content=df_content.drop(['URL','User ID','Unnamed: 0'],axis=1)

In [8]:
df_content=df_content.rename(columns={'Type':'Content Type'})

In [9]:
df_content.head(10)

                              Content ID Content Type         Category
0   97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1   9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2   230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3   356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4   01ab84dd-6364-4236-abbb-3f237db77180        video             food
6   3f8590c7-6ab2-4973-805a-90cdec355f05        video             dogs
7   e5490118-90d5-4572-ab1c-1fbc87b8d9ca        video       technology
8   0bedca96-fb76-4287-a83c-17330ed39cce        photo           soccer
9   b18cb63f-4c8e-44ee-a47f-541e95191d11        photo  public speaking
11  46fb701d-6c26-458e-ada3-2ebe5dbba01f        audio  public speaking

### Reactions

In [10]:
df_reaction=pd.read_csv('Reactions.csv')

In [11]:
df_reaction.head(10)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
6,6,97522e57-d9ab-4bd6-97bf-c24d952602d2,7918d465-0953-4f20-9e28-539e74c82e2f,peeking,2020-12-07 06:27:54
7,7,97522e57-d9ab-4bd6-97bf-c24d952602d2,fa3e42f0-71d8-455f-b024-e52d5c27a145,cherish,2021-04-11 17:35:49
8,8,97522e57-d9ab-4bd6-97bf-c24d952602d2,b0c22f82-b882-4394-bf27-6dfadf26e5c2,hate,2021-01-27 08:32:09
9,9,97522e57-d9ab-4bd6-97bf-c24d952602d2,1932a904-86ba-4438-bb52-b7e6516a4019,peeking,2021-04-01 22:54:23

In [12]:
df_reaction.shape

(25553, 5)

In [13]:
df_reaction.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [14]:
df_reaction=df_reaction.dropna()

In [15]:
df_reaction.shape

(22534, 5)

In [16]:
df_reaction=df_reaction.drop(['User ID','Unnamed: 0'],axis=1)

In [17]:
df_reaction=df_reaction.rename(columns={'Type':'Reaction Type'})

In [18]:
df_reaction.head(10)

                              Content ID Reaction Type             Datetime
1   97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2   97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3   97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4   97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5   97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
6   97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2020-12-07 06:27:54
7   97522e57-d9ab-4bd6-97bf-c24d952602d2       cherish  2021-04-11 17:35:49
8   97522e57-d9ab-4bd6-97bf-c24d952602d2          hate  2021-01-27 08:32:09
9   97522e57-d9ab-4bd6-97bf-c24d952602d2       peeking  2021-04-01 22:54:23
11  97522e57-d9ab-4bd6-97bf-c24d952602d2   indifferent  2020-11-07 08:36:27

### Reaction Types

In [19]:
df_reaction_types=pd.read_csv('ReactionTypes.csv')

In [20]:
df_reaction_types.head(10)

   Unnamed: 0         Type Sentiment  Score
0           0        heart  positive     60
1           1         want  positive     70
2           2      disgust  negative      0
3           3         hate  negative      5
4           4   interested  positive     30
5           5  indifferent   neutral     20
6           6         love  positive     65
7           7   super love  positive     75
8           8      cherish  positive     70
9           9        adore  positive     72

In [21]:
df_reaction_types.isnull().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [22]:
df_reaction_types=df_reaction_types.drop(['Unnamed: 0'],axis=1)

In [23]:
df_reaction_types=df_reaction_types.rename(columns={'Type':'Reaction Type'})

In [25]:
df_reaction_types.head(10)

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72

### Merging the dataframes

In [26]:
merged_df=pd.merge(df_reaction,df_content,on='Content ID',how='left')
merged_df=pd.merge(merged_df,df_reaction_types,on='Reaction Type',how='left')
merged_df.head()

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,positive,30

### Calculating the total scores for each category

In [28]:
category_scores=merged_df.groupby('Category')['Score'].sum().reset_index()
top_5_categories=category_scores.sort_values(by='Score',ascending=False).head(5)
top_5_categories

          Category  Score
15          travel  53935
10         science  53657
8   healthy eating  52745
1          animals  52443
2          cooking  49681

In [ ]:
#check for NA values
merged_df.isnull().sum()

In [31]:
#if found , drop them
merged_df=merged_df.dropna()

In [35]:
merged_df.shape

(18384, 7)

In [36]:
#Converting into csv file
final_result=pd.concat([merged_df,top_5_categories],axis=1)
final_result.to_csv('Merged Dataset.csv',index=False)